---
title: BAPC 2027 | Bay Area Programming Contest
---
<!DOCTYPE html>
<html lang="en">
{% include head.html cipherscript="true" home="true" fade="true" style="home"%}
<body>
<main class="vh-100 d-flex flex-column align-items-center justify-content-between">
<!--    Put navbar inside so that the vh-100 calculation includes it. Bit hacky but should work.-->
    {% include navbar.html %}
    <div class="container">
        <script>
            setTimeout(() => {
                document.styleSheets[0].insertRule(
                    `@media (min-width: 769px) {
                        .logo:hover > #oB,
                        .logo:hover > #B,
                        .logo:hover > #A,
                        .logo:hover > #P,
                        .logo:hover > #C,
                        .logo:hover > #cB {
                            transform: translate(var(--x), var(--y)) scale(var(--scale)) rotate(var(--ang));
                        }
                    }`, 
                    document.styleSheets[0].cssRules.length
                );
            }, 2500);

        </script>
        <div class="row row-cols-1 row-cols-md-2 d-flex justify-content-center-sm">
            <div class="col col-md-6 d-flex align-items-center justify-content-center justify-content-md-end">
                <div id="home-mask">

                </div>
                <div id="home-shard">

                </div>
                <div id="logo" class="logo">
                    <span class="char" id="oB">
                        <img src="/images/svg/oB.svg" width="150" height="297" alt="oB" />
                    </span>
                    <span class="char" id="B">
                        <img src="/images/svg/B.svg" width="72" height="92" alt="B" />
                    </span>
                    <span class="char" id="A">
                        <img src="/images/svg/A.svg" width="80" height="100" alt="A" />
                    </span>
                    <span class="char" id="P">
                        <img src="/images/svg/P.svg" width="67" height="92" alt="P" />
                    </span>
                    <span class="char" id="C">
                        <img src="/images/svg/C.svg" width="77" height="92" alt="C" />
                    </span>
                    <span class="char" id="cB">
                        <img src="/images/svg/cB.svg" width="97" height="297" alt="cB" />
                    </span>
                </div>
            </div>
            <div id="home-info" class="col col-md-5 col-lg-4 col-xl-3 p-3 d-flex flex-column align-items-center">
                <div id="time" class="mb-4">
                    <h2 class="date text-glow text-white">03.01.26</h2>
                </div>
                <div class="d-flex w-100 mb-4">
                    <a id="registerButton" href="https://docs.google.com/forms/d/e/1FAIpQLSdX04VD4NZjPy1-OmDPcXJQoe6nwF9XldqUMEqoHg3R2w_dUw/viewform" target="_blank">REGISTER</a>
                </div>
                <div class="d-flex w-100 mb-2">
                    <a id="discordButton" href="https://discord.gg/yUVpxw7wVw" target="_blank">Join the Discord</a>
                </div>
            </div>
        </div> 
    </div>
    <div onclick="scrollToSection()" role="button">
        <img id="delayed-button" class="m-5" src="/images/svg/downarrow.svg" alt="down arrow">
    </div>
</main>

<section class="WhatIsBAPC text-center vh-100" aria-labelledby="about-title">
    <div class="col-12">
        <h2 id="about-title" class="heading fw-bold fade-in-text" data-delay="0">ABOUT BAPC</h2>
        <div class="bodyText text-white">
            <div class="fade-in-text" data-delay="100">The Bay Area Programming Contest (BAPC)<br></div>
            <div class="fade-in-text" data-delay="200">is a programming contest for contestants of all levels
                designed by<br></div>
            <div class="fade-in-text" data-delay="300">Gunn's Competitive Programming Club. We hope to give Bay
                Area<br></div>
            <div class="fade-in-text" data-delay="400">high school students an opportunity to compete with peers
                and solve<br></div>
            <div class="fade-in-text" data-delay="500"> some interesting problems in an ICPC style format.<br></div>
        </div>
    </div>
</section>

<section class="FAQ" aria-labelledby="faq-title">
    <div class="container-fluid">
        <h2 id="faq-title" class="fade-in-text" data-delay="0">FREQUENTLY ASKED QUESTIONS</h2>
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="fade-in-text" data-delay="100">
                    <h3 class="question">WHERE WILL BAPC BE HELD?</h3>
                </div>
                <div class="fade-in-text" data-delay="200">
                    <div class="answer"> BAPC will be held in-person at Gunn High School's Titan Gym. There will be an online
                        mirror for those who can't make it.
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="fade-in-text" data-delay="300">
                    <h3 class="question">WHAT LANGUAGES ARE AVAILABLE?</h3>
                </div>
                <div class="fade-in-text" data-delay="400">
                    <div class="answer"> We support C++, Python3, Java, and Rust.</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="fade-in-text" data-delay="500">
                    <h3 class="question">WHAT IS THE FORMAT OF THE CONTEST?</h3>
                </div>
                <div class="fade-in-text" data-delay="600">
                    <div class="answer"> It will be a 3 hour long ICPC style contest. You will be given between
                        8 and 13 problems to solve with your team.
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="fade-in-text" data-delay="700">
                    <h3 class="question">HOW MANY PEOPLE CAN BE ON A TEAM?</h3>
                </div>
                <div class="fade-in-text" data-delay="800">
                    <div class="answer"> Teams may have up to 3 members.</div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="Sponsors" aria-labelledby="sponsors-title">
    <div class="container">
        <h2 id="sponsors-title" class="sponsors-title">OUR SPONSORS</h2>

        <!--<div class="sponsor-tier" style="color: #ff1144;">Join Us Today</div>-->
        
        <div class="sponsor-tier platinum">PLATINUM</div>
        <div class="row">
            <div class="col-lg-4 col-12">
                <a href="https://x-camp.academy/" target="_blank"><img src="/images/sponsors/X-Camp.png" class="w-75" alt="X-Camp Logo"></a>
            </div>
        </div>

        <div class="sponsor-tier silver">SILVER</div>
        <div class="row">
            <div class="col-lg-4 col-12">
                <a href="https://www.hudsonrivertrading.com/" target="_blank"><img src="/images/sponsors/HRT_Logo.png" class="w-75" alt="HRT Logo"></a>
            </div>
            <div class="col-lg-4 col-12">
                <a href="https://janestreet.com/" target="_blank"><img src="/images/sponsors/Jane_Street_Logo.png" class="w-75" alt="Jane Street Logo"></a>
            </div>
            <div class="col-lg-4 col-12">
                <a href="https://citadelsecurities.com/" target="_blank"><img src="/images/sponsors/Citadel.png" class="w-75" alt="Citadel Logo"></a>
            </div>
            <div class="col-lg-4 col-12">
                <a href="https://stanfordresearchpark.com/" target="_blank"><img src="/images/sponsors/SRP_Logo.png" class="w-75" alt="SRP Logo"></a>
            </div>
        </div> 
        <!--<div class="sponsor-tier bronze">BRONZE</div>
        <div class="row">
            <div class="col-lg-4 col-12">
                <a href="https://easyfuncoding.com/" target="_blank"><img src="/images/sponsors/easyfuncoding.png" class="w-75" alt="EasyFunCoding Logo"></a>
            </div>
            <div class="col-lg-4 col-12">
                <a href="https://www.desmos.com/" target="_blank"><img src="/images/sponsors/Desmos_logo.webp" class="w-75" alt="Desmos Logo"></a>
            </div>
        </div>-->
        <div class="sponsor-tier">PARTNERS</div>
        <div class="row">
            <div class="col-lg-4 col-12">
                <a href="https://joincpi.org/" target="_blank"><img src="/images/sponsors/CPI_Logo_1.png" class="w-75" alt="CPI Logo"></a>
            </div>
        </div>
        <p class="my-5 fs-6 sponsor-contact">To sponsor our event, email us at <a href="mailto:cpcgunn@gmail.com">cpcgunn@gmail.com</a>. Find our sponsorship prospectus <a href="/docs/BAPC_Sponsorship_Prospectus_2026.pdf#zoom=36" target="_blank">here</a>.</p>
    </div>
</section>
{% include footer.html %}
</body>
</html>

